.container {
  display: flex;
}

.centered-content {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.text-container {
  margin-top: 40px;
  text-align: center;
}

@media (max-width: 375px) {
  #features-p {
    text-align: center;
    max-width: 90%;
    margin: auto;
  }
  .container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }
}
