.modal-background {
  position: fixed;
  inset: 0;
  background-color: hsl(229, 31%, 21%);
  opacity: 70%;
}

.modal-container {
  max-width: 1300px;
  margin: auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  position: fixed;
  inset: 130px;
  padding: 10;
  background-color: white;
  border-radius: 20px;
}
.left-column-modal {
  flex: 1;
  padding: 20px;
  display: flex;
  justify-content: flex-start;
  max-width: 50%;
  margin-left: 30px;
}

.right-column-modal {
  flex: 1;
  padding: 20px;
  justify-content: flex-end;
  margin-right: 30px;
}

.modal-close {
  position: absolute;
  right: 0;
  top: 0;
  margin-top: 20px;
  margin-right: 20px;
}
.modal-close:hover {
  cursor: pointer;
  color: hsl(0, 94%, 66%);
}
