.navigation-container {
  display: flex;
  align-items: center;
  align-content: flex-end;
  justify-content: flex-end;
  width: 80%;
  margin: auto;
  margin-top: 25px;
  margin-bottom: 20px;
}

.logo {
  height: 45px;
  width: 150px;
  margin-top: 20px;
  margin-right: auto;
}

.nav-items {
  align-content: flex-end;
}

.nav-item {
  font-size: 14px;
  font-weight: 400;
  margin-left: 40px;
}
.nav-item:hover {
  color: hsl(0, 94%, 66%);
  cursor: pointer;
}
.hamburger {
  display: none;
}

@media (max-width: 375px) {
  .nav-item {
    display: none;
  }
  .hamburger {
    display: flex;
    margin-right: -20px;
  }
  .navigation-container {
    margin-bottom: 60px;
  }
}
