.panel-container {
  display: flex;
  padding: 10px;
  align-items: center;
  justify-content: center;
}

.option {
  text-align: center;
  margin-top: 10px;
  margin-bottom: 20px;
  width: 200px;
  border-bottom: 1px solid hsl(229, 31%, 21%);
  padding: 10px;
  cursor: pointer;
}

.selected {
  border-bottom: 1px solid hsl(0, 94%, 66%);
}

@media (max-width: 375px) {
  .panel-container {
    margin-top: 40px;
    margin-bottom: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .option {
    font-weight: 400;
    padding-top: 15px;
    padding-bottom: 15px;
    margin-bottom: -1px;
    margin-top: 0px;
    border-top: 1px solid hsl(229, 31%, 21%);
  }
  .selected {
    z-index: 1;
  }
}
