.left-column-options {
  flex: 1;
  padding: 20px;
  display: flex;
  justify-content: flex-start;
}

.right-column-options {
  flex: 1;
  padding: 20px;
  justify-content: flex-end;
}
.content-container {
  display: flex;
  width: 80%;
  margin: auto;
  margin-bottom: 250px;
}

.svg-left {
  position: absolute;
  margin-top: 50px;
  margin-left: -420px;
  z-index: -1;
  width: 100%;
  max-width: 900px;
  height: auto;
}

@media (max-width: 375px) {
  .content-container {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-bottom: 100px;
  }
  .svg-left {
    left: 100px;
    margin-top: 80px;
    margin-left: -120px;
  }
  .right-column-options {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    max-width: 85%;
  }
  #button-options {
    display: none;
  }
}
